@import './reset.scss';

@font-face {
    font-family: 'PF Din Display Pro Light';
    src: url('../fonts/PFDinDisplayPro-Light.eot');
    src: url('../fonts/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFDinDisplayPro-Light.woff') format('woff'),
        url('../fonts/PFDinDisplayPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.button,
.input {
    border: none;
    outline: none;
    font-family: inherit;
}

.button {
    cursor: pointer;
}

body {
    font-family: 'PF Din Display Pro Light';
}

span {
    display: block;
}

.main {
    transition: 1s all, background-image 1.5s;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg/mainbg.jpg');
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.menu {
    transition: 1s;
    width: 100vw;
    height: 100vh;
    padding-top: 240px;
    .menu__title {
        transition: 1s;
        opacity: 1;
        font-size: 48pt;
        margin-bottom: 90px;
    }
    text-align: center;
    border-bottom: 0px solid transparent;
}

.menu__circles {
    transition: 1s;
    display: flex;
    justify-content: space-between;
}

.circles__item {
    transition: 1s all, border .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 2px solid rgba(#54beab, 0);
    &:hover {
        border-color: rgba(#54beab, 1);
    }
    .item__title {
        font-size: 28pt;
    }
}

.icon {
    transition: 1s;
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.item__trade {
    width: 83px;
    height: 64px;
    background-image: url("../img/icons/trade_icon.png");
}

.item__invest {
    width: 79px;
    height: 66px;
    background-image: url("../img/icons/invest_icon.png");
}

.item__attract {
    width: 70px;
    height: 84px;
    background-image: url("../img/icons/attract_icon.png");
}

.trade {
    display: none;
    padding-top: 80px;
    .list__title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 24pt;
    }
    .trade__text {
        font-size: 18pt;
        word-wrap: break-word;
        white-space: normal;
    }
    .list__item {
        font-size: 18pt;
        margin-bottom: 15px;
    }
    ol {
        list-style: none;
        counter-reset: counter;
    }
    .list__item {
        counter-increment: counter;
    } 
    .list__item::before {
        content: counter(counter);
        color: #54beab;
        font-size: 32pt;
        margin-right: 10px;
    }
    .continue {
        width: 160px;
        height: 40px;
        background: #54beab;
        color: white;
        font-size: 18pt;
        &:hover {
            background: #3d8a7c;
        }
        border-radius: 3px;
        margin-top: 20px;
    }
}

.hidden {
    transition: 1s;
    padding-top: 0;
    text-align: center;
    height: 15vh;
    width: 100vw;
    border-bottom: 2px solid #c5c5c2;
    .circles__item {
        height: 15vh;
        border: none;
        border-radius: 0%;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
        color: #686863;
    }
    .icon {
        opacity: 0;
        height: 0;
        margin-bottom: 0px;
    }
    .menu__title {
        opacity: 0;
        font-size: 0pt;
        margin-bottom: 0px;
    }
    .menu__trade {
        color: #54beab;
        border-bottom: 3px solid #54beab;
    }
}

.secondBG {
    transition: 1s all,
    background-image 1.5s;
    background: url('../img/bg/secondarybg.png');
    padding-top: 0;
    background-size: cover;
}
.show {
    opacity: 0;
    transition: opacity 1s;
    display: block;
    height: 85vh;
    margin: auto;
    width: 1200px;
}